.contenedor{
  width:250px;
  height: 250px;
  margin:0 auto; 
  text-align:center;
  background: #E5E5E5;
  border-radius:50%;
}
.circulo-negro {
  display:inline-block;
  width: 50px;
  height: 50px;
  margin-top: 100px;
  background:#000;
  border-radius:50%;
  animation: girar 2s infinite linear;
}
.triangulo {
  display:inline-block;
  width: 0; 
  height: 0; 
  border-left: 100px solid #f0ad4e;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent; 
  animation: girar 1s infinite linear;
}
.cuadrado {
  display:inline-block;
  width: 150px;
  height: 150px;
  background: red;
  border: 1px solid #000;
  animation: girar 0.8s infinite linear;
}
.trapecio {
  display:inline-block;
  width: 50px;
  height: 0px;
  border-right: 60px solid transparent;
  border-left: 60px solid transparent;
  border-bottom: 100px solid #42ca4d;
  animation: girar 5s infinite linear;
}
.luna {
  display:inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 30px 10px 0 #d9534f;
  animation: girar 1s infinite linear;
}
@keyframes girar {
  from { transform: rotate(0deg)  translate(-100px) rotate(0deg); }
  to { transform: rotate(360deg) translate(-100px) rotate(-360deg); }
}